div(class="box light grid") 
	div(class="unit passing")
		div(class="count") 30
		div(class="text_passing") Passing
	div(class="unit failing")
		div(class="count") 10
		div(class="text_failing") Failing
	div(class="unit details")
		div(class="header grid") 
			div(class="unit percent_60 title") Render Google Maps on reload
			div(class="unit percent_40 lang_plat")
				span(class="language") Javascript
				span(class="platform") AngularJS

		div(class="parent_app") No parent app
		div(class="tags")



