div(class="box light grid") 
	div(class="unit passing")
		div(class="count") {{ passing }}
		div(class="text_passing") Passing
	div(class="unit failing")
		div(class="count") {{ failing }}
		div(class="text_failing") Failing
	div(class="unit details")
		div(class="header grid") 
			div(class="unit percent_60 title") {{ title }}
			div(class="unit percent_40 lang_plat")
				span(class="language") {{ language }}
				span(class="platform") {{ framework }}

		div(class="parent_app" data-ng-if="!parent_app") No parent app
		div(class="parent_app" data-ng-if="parent_app") {{ parent_app }}
		div(class="tags")



