var mongoose = require('mongoose');

var schema = new mongoose.Schema({
	// eg: title: { type: String, required: true },
});

var Listing = mongoose.model({{name}}, schema);

module.exports = {{ name }};

