extends layouts/default

block head
block header
block content
	div(class="grid")
		div(class="unit two-thirds")
			div(data-ng-app="TestListingsApp" data-ng-controller="HomeController")
				div(data-ng-repeat="listing in listings" test-listing="listing")


