div(data-ng-app="listingsModule" data-ng-controller="MainController")
	div(class="tabs")
		ul(data-tabs="languages" data-tabs-text-property="name" data-filter-by="filterBy" data-filter="filter")
	div( data-ng-repeat="listing in listings | filter:{ language: filter }" data-listing="listing")