doctype html
head
	title Hello
	link(rel="stylesheet", href="listings/css/app.css")
	script(src="bower_components/angular/angular.js")
	script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
	block head
body
	div(class="top_bar")
		div(class="container")
			div(class="logo")
				img(src="listings/img/logo.png")
			block header
	div(class="container body")
		block content

	script(src="listings/js/controllers.js")
	script(src="listings/js/directives.js")
	script(src="listings/js/services.js")
	script(src="listings/js/filters.js")
	script(src="listings/js/app.js")
